resources/scripts/generateDS-2.30.11/tests/oneper02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >

    <xs:element name="root02" type="oneperType02_1" />

    <xs:complexType name="oneperType02_1">
        <xs:sequence>
            <xs:element name="clientname" type="xs:string"/>
            <xs:element name="inner01" type="oneperType02_2" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="oneperType02_2">
        <xs:sequence>
            <xs:element name="clientdescription" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>

